* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
    background-color: #2B2922;
}



/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

nav {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: 2rem auto;
}

.logo {
    display: inline-block;
    width: 9rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list a {
      display: inline-block;
      text-decoration: none;
      margin-right: 2rem;
      color: #908E86;
      font-size: 1.1rem;
}

.list a:hover {
    
    color: #ffffff;
}

.button-small {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    border: 1px solid #998935;
    color: #998935;
    background-color: transparent;
    margin-left: 1.5rem;
    border-radius: 10px;
    font-size: 1.1rem
}


/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */


.hero-info {
    width: 85%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info h1 {
    width: 50%;
    font-size: 4.5rem;
    color: #ffffff;
    line-height: 6rem;
}


.hero-info p {
    width: 50%;
    color: #DAD9D7;
    font-size: 1.2rem;
    word-spacing: 2px;
    padding-left: 6rem;
}

.hero-img {
    width: 100%;
    height: 30rem;
    overflow:hidden
} 

.hero-img img {
    width: 100%;
    height: 50rem;
    margin-top: -12rem;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.btn-1 {
    background-color: #39372D;
    border: none;
}

.btn-2 {
    background-color: #998935;
    border: none;
}

.btn-1 div {
    padding: 0.1rem 1rem;
    border: 1px solid #998935;
    border-radius: 50%;
    background-color: #39372D;
    color: #998935;
    font-size: 2.5rem;
    margin: 1.4rem 1rem;
}

.btn-2 div {
    padding: 0.1rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #998935;
    color: #ffffff;
    font-size: 2.5rem;
    margin: 1.4rem 1rem
}